body {background-color:rgb(255, 255, 255);}

h1 {color:black;font-family: verdana;text-align:center}

p {color:black; font-family: arial;font-size:16;}

.pt-5 {color:black; font-family: arial;font-size:16;}

.pt-4 {color:black; font-family: arial;font-size:16;}